language: python
python:
    - "3.4"
    - "3.5"
    - "3.6"
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
install:
  - pip install -r requirements/test.txt
script:
  - pytest
after_success: coveralls